<div class="footer-badges">
  <h4 class="footer-subheading">Featured On</h4>
  <div class="badge-list">
    <a href="https://startupdirectory.net" target="_blank" rel="noopener"><img src="https://startupdirectory.net/badge/featured-dark.svg" alt="Featured on Startup Directory" height="54" loading="lazy" /></a>
    <a href="https://deeplaunch.io" target="_blank" rel="noopener"><img src="https://deeplaunch.io/badge/badge_dark.svg" alt="Featured on DeepLaunch.io" loading="lazy" /></a>
    <a href="https://submitmysaas.com" target="_blank" rel="noopener noreferrer"><img src="https://submitmysaas.com/featured-badge.png" alt="Featured on SubmitMySaas" height="54" loading="lazy" /></a>
  </div>
</div>
