{%- if page.url != "/" -%}
<nav class="breadcrumbs" aria-label="Breadcrumb">
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ '/' | absolute_url }}"
      }
      {%- if page.categories.size > 0 -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.categories[0] }}",
        "item": "{{ '/category/' | append: page.categories[0] | downcase | absolute_url }}"
      }
      ,{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ page.title | truncate: 50 }}"
      }
      {%- elsif page.title -%}
      ,{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.title | truncate: 50 }}"
      }
      {%- endif -%}
    ]
  }
  </script>
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}">Home</a></li>
    {%- if page.categories.size > 0 -%}
    <li class="breadcrumb-item"><a href="{{ '/category/' | append: page.categories[0] | downcase | relative_url }}">{{ page.categories[0] }}</a></li>
    {%- endif -%}
    <li class="breadcrumb-item active" aria-current="page">{{ page.title | truncate: 50 }}</li>
  </ol>
</nav>
{%- endif -%}
